/* Mobile First Approach */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --black: #121212;
  --white: #ffffff;
  --orange: #ff7500;
  --text-black: #292929;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  color: var(--white);
}
img {
  width: 100%;
}

/* Header and navigation section */
.container {
  background-color: var(--black);
}
.nav-container {
  padding: 16px 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fa-bars {
  color: var(--white);
}
.login-btn {
  border: 2px solid var(--white);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1.2% 3.6%;
  font-weight: 600;
}
.navigation-menu {
  display: none;
}
.navigation-menu > div {
  font-weight: 500;
}
.hero-section {
  display: flex;
  flex-direction: column;
}
.text-container {
  margin: 24px 48px;
}
.main-text {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 133.02%;
  text-align: center;
}
.secondary-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.sec-text {
  display: flex;
  gap: 4rem;
  padding: 2.32% 0;
  width: max-content;
  border-bottom: 1.2px solid var(--white);
  margin-bottom: 4.64%;
}
/* Facilities section */
.services {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin: 30px 48px;
  justify-content: center;
}
.service1,
.service2,
.service3,
.service4 {
  display: flex;
  align-items: center;
}
.service-icon {
  background: rgba(255, 117, 0, 0.05);
  border-radius: 46px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.service-icon > img {
  margin: 13px;
}
.services > div > div > img {
  width: 48px;
}
.service-text {
  color: #565656;
  font-weight: 500;
  line-height: 131.02%;
  max-width: 56px;
}
a {
  text-decoration: none;
  color: var(--white);
}
/* Our Room Section */
.our-room-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 24px 48px;
}
.our-room-headings {
  display: flex;
  gap: 16px;
  flex-direction: column;
  margin-bottom: 64px;
  /* 
  align-items: center; */
}
.our-room-headings > div {
  text-align: center;
}
.our-room-headings .sub-heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 133.02%;
  color: var(--text-black);
}
.our-room-headings .main-heading {
  font-weight: 700;
  font-size: 45px;
  line-height: 133.02%;
  color: var(--text-black);
}
span {
  color: var(--orange);
}
.our-room-headings .description {
  font-weight: 500;
  font-size: 16px;
  line-height: 175.52%;
  text-align: center;
  color: #a9a9a9;
}
.our-room-gallery {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.left,
.right {
  display: flex;
  flex-direction: row;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.our-room-gallery > div > div {
  width: 100%;
}
/* About us section */
.about-us-container {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  padding: 30px 48px;
}
.about-us-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 32px;
}
.about-us-heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about-us-heading {
  font-size: 45px;
  line-height: 133.02%;
  font-weight: 700;
  color: var(--white);
  margin-bottom: 16px;
}
.about-us-underline {
  width: 174px;
  height: 4px;
  background-color: var(--orange);
  border-radius: 3.5px;
}
.about-us-description {
  margin: 40px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.about-us-description > p {
  color: #a9a9a9;
  text-align: center;
}
.about-us-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 14px 46px;
  gap: 8px;
  background-color: var(--orange);
  width: max-content;
  border-radius: 27px;
  line-height: 162.52%;
}

.overlapping-section-container {
  display: flex;
  padding: 0px 48px;
  margin-bottom: 60px;
  flex-direction: column;
}
.overlapping-section-container {
  display: flex;
  gap: 48px;
}
.overlapping-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding-top: 32px;
}
.reviews {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.reviews-heading {
  font-weight: 700;
  font-size: 32px;
  line-height: 133%;
  color: var(--text-black);
}
.reviews-stars {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 62%;
}
.stars {
  width: 133px;
}
.reviews-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 162.52%;
  color: #7f7f7f;
}
.people-images {
  width: 75%;
}
.text2 {
  opacity: 0.6;
}
.people-images {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
}
.images > img {
  width: 57px;
  height: 57px;
  /* border: 2.5px solid #ffffff; */
}
.overlapping-image {
  margin-left: -24px;
}
.cards-1-2,
.cards-3-4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0px;
  gap: 24px;
}
.overlapped-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 41px 24px;
  background: #ffffff;
  width: 341px;
}
.card1 {
  box-shadow: -14px 24px 68px -16px rgba(0, 0, 0, 0.12);
}
.card-head {
  font-weight: 600;
  font-size: 22px;
  line-height: 120.02%;
  color: var(--text-black);
  margin-bottom: 14px;
  text-align: center;
}
.card-sub-head {
  font-weight: 500;
  font-size: 14px;
  line-height: 162.52%;
  color: #a9a9a9;
  text-align: center;
}
.overlapped-card > img {
  width: 56px;
  height: 56px;
  margin-bottom: 16px;
}
.overlapping-cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
/* Footer Section */
footer {
  padding: 24px 48px;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
}
.footer-content-container {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.heading-text {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 162.52%;
  margin-bottom: 6px;
}
.sub-text {
  color: #888888;
  font-weight: 500;
  margin-bottom: 32px;
}
.subscribe-btn-container {
  width: 345px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}
.subscribe-btn-input {
  padding: 15px 20px;
  border: 1.5px solid var(--white);
  border-right: none;
  outline: none;
  background-color: var(--black);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  width: 100%;
}
input::placeholder[email] {
  color: var(--white);
}
input[type="email"] {
  color: white;
}
.subscribe-btn {
  /* width: 110px; */
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  padding: 19px 25.5px;
  color: var(--white);
  background-color: #ff7500;
  outline: none;
  border: 1.5px solid var(--orange);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.quick-links,
.useful-links {
  display: flex;
  gap: 24px;
  flex-direction: column;
}
.sub-heading {
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 162.52%;
}
.links-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.copyright-container {
  border-top: 1.8px solid rgba(255, 255, 255, 0.1);
  padding-top: 28px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
}
.social-media-icons-container {
  display: flex;
  gap: 24px;
}
.image-description {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 16px;
}
.description-sub-heading {
  font-weight: 500;
  font-size: 14px;
  line-height: 133.02%;
  color: #a9a9a9;
  text-transform: uppercase;
}
.description-main-heading {
  font-weight: 600;
  font-size: 22px;
  line-height: 133.02%;
  color: var(--text-black);
}

/* Responsive design media queries */

@media only screen and (min-width: 768px) {
  body {
    font-size: 1rem;
  }
  .icon {
    display: none;
  }
  .nav-container {
    flex-wrap: wrap;
  }
  .navigation-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.2rem;
  }
  .hero-section {
    flex-direction: column-reverse;
  }
  .main-text-container {
    margin-top: 4.2%;
  }
  .main-text {
    text-align: left;
  }
  .text-container {
    display: flex;
    justify-content: space-between;
  }
  .main-text-container {
    width: 51.3%;
    /* margin-right: 20%; */
  }
  .secondary-text {
    width: max-content;
  }
  /* .service-icon {
    margin-right: 20px;
  } */
  .service-text {
    max-width: 90px;
  }
  .quick-links {
    order: -1;
  }
  .get-in-touch {
    width: 30.265%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .sub-text {
    text-align: center;
  }
  /* .our-room-gallery > div > div {
    width: 50%;
  } */
  .our-room-gallery {
    flex-direction: row;
  }
  .left,
  .right {
    flex-direction: column;
    flex-wrap: wrap;
  }

  /* .left {
    order: -2;
  }
  .right {
    order: -1;
  } */
}

@media only screen and (min-width: 992px) {
  .navigation-menu {
    gap: 2.24rem;
  }
  .main-text-container {
    width: 51.3%;
  }
  .secondary-text {
    width: max-content;
  }
  .nav-container {
    padding: 56px 150px;
  }
  .text-container {
    margin: 16px 150px 109px 150px;
  }
  .copyright-container {
    flex-direction: row;
    justify-content: flex-end;
    gap: 335px;
  }
  .services {
    margin-top: 64px;
    margin-bottom: 120px;
  }
  .about-us-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
  .about-us-content {
    padding-left: 48px;
    width: 34%;
    align-items: normal;
  }
  .about-us-description > p {
    text-align: left;
  }
  .about-us-heading-container {
    align-items: normal;
  }
  .overlapping-content {
    width: unset;
  }
}
@media only screen and (min-width: 1200px) {
  .main-text {
    font-size: 3.125rem;
  }
  p {
    font-size: 1rem;
  }
  .navigation-menu {
    gap: 2.8rem;
  }
  footer {
    padding: 60px 150px 34px 150px;
  }
  .useful-links-list > a,
  .useful-links-list {
    text-align: right;
  }
  .our-room-container {
    margin: 0px 150px 120px 150px;
  }
  .our-room-gallery {
    display: flex;
    gap: 40px;
    flex-direction: row;
  }
  .our-room-gallery > div > div {
    width: 100%;
  }
  .left,
  .right {
    flex-direction: column;
    gap: 34px;
  }
  .our-room-headings {
    width: 41%;
  }
  .about-us-content {
    padding-left: 150px;
  }
  .overlapping-section-container {
    display: flex;
    flex-direction: row;
    padding: 0px 150px;
    margin-top: -62px;
    margin-bottom: 120px;
  }
  .overlapping-section-container {
    display: flex;
    flex-direction: row;
    gap: 79px;
  }
  .overlapping-content {
    width: unset;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
    padding-top: 182px;
  }
  .reviews {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .reviews-heading {
    font-weight: 700;
    font-size: 32px;
    line-height: 133%;
    color: var(--text-black);
  }
  .reviews-stars {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 62%;
  }
  .stars {
    width: 133px;
  }
  .reviews-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 162.52%;
    color: #7f7f7f;
  }
  .people-images {
    width: 68%;
  }
  .text2 {
    opacity: 0.6;
  }
  .people-images {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
  }
  .images > img {
    width: 57px;
    height: 57px;
    /* border: 2.5px solid #ffffff; */
  }
  .overlapping-image {
    margin-left: -24px;
  }
  .cards-1-2,
  .cards-3-4 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
  }
  .overlapped-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 41px 24px;
    background: #ffffff;
    width: 341px;
  }
  .card1 {
    box-shadow: -14px 24px 68px -16px rgba(0, 0, 0, 0.12);
  }
  .card-head {
    font-weight: 600;
    font-size: 22px;
    line-height: 120.02%;
    color: var(--text-black);
    margin-bottom: 14px;
  }
  .card-sub-head {
    font-weight: 500;
    font-size: 14px;
    line-height: 162.52%;
    color: #a9a9a9;
  }
  .overlapped-card > img {
    width: 56px;
    height: 56px;
    margin-bottom: 16px;
  }
  .overlapping-cards {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}
